*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial;
}

body{

   background-color: white;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}


.streak{
    color: white;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    top: 18vh;
    left: 66.5vw;
    background-color: hsl(200, 1%, 51%);
    border-radius: 0.25em;
 
    user-select: none;
}

.key{
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%)));

    color: white;
    fill: white;
    text-transform: uppercase;
    border-radius: 0.25em;
    cursor: pointer;
    user-select: none;
}


.key.large{

    grid-column: span 3;
    user-select: none;
    outline: none;
    box-shadow: none;

}
.key > svg{
    width: 1.75em;
    height: 1.75em;
}
.key.pop{
    animation: pop 100ms ease-in-out;
}

@keyframes pop{
    20%{
        transform: scale(120%);
    }
    50%{
        transform: scale(130%);
    }
    70%{
        transform: scale(120%);
    }
    100%{
        transform: scale(100%);
    }
}

.keyboard{
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    justify-content: center;

}

.key.wrong{
    --hue: 240;
    --saturation: 8%;
    --lightness: 40%;
}

.key:hover{
    --lightness-offset: 10%;
}
.key:focus{
    outline: black;
    box-shadow: black;

}

.key.wronglocation {
--hue: 349;
--saturation: 95%;
--lightness: 63%;
}

.key.correct{
--hue: 248;
--saturation: 95%;
--lightness: 63%;
}


.guess-grid{
    display:grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;

}

.tile{
    font-size: 2em;
    color: black;
    border: .05em solid hsl(240, 2%, 23%);
    text-transform: uppercase;
    border-radius: .5em;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;


}

.tile[data-state="active"]{
    border-color: hsl(0, 0%, 0%);
    border-width: .075em;
}

.tile[data-state="wrong"]{
border: none;
background-color: hsl(240, 8%, 40%);
}


.tile[data-state="correct"]{
    border: none;
    background-color: hsl(248, 95%, 63%);
}


.tile[data-state="wronglocation"]{
    border: none;
    background-color: hsl(349, 95%, 63%);
}
.tile.shake{
    animation: shake 250ms ease-in-out;
}

.tile.upDown{
    animation: upDown 250ms ease-in-out;
}
.tile.popUp{
    animation: popUp 750ms linear;
}

@keyframes popUp{

    25%{
        transform: rotateZ(90deg);
    }
    50%{
        transform: rotateZ(180deg);

    }
    75%{
        transform: rotateZ(270deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

@keyframes upDown {
    10% {
        transform: translateY(-5%);
    }

    30% {
        transform: translateY(5%);
    }

    50% {
        transform: translateY(-7.5%);
    }

    70% {
        transform: translateY(7.5%);
    }
    90% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }
    90% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

.alert-container{
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.alert{
pointer-events: none;
background-color: hsl(204, 7%, 85%);
padding: .75em;
border-radius: .25em;
opacity: 1;
transition: opacity 500ms ease-in-out;
margin-bottom: .5em;
}

.alert:last-child{
    margin-bottom: 0;
}

.alert.hide{
    opacity: 0;
}

.progress
{

    background-color: hsl(248, 95%, 63%);
    
}
